body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}
.container{
    padding: 10px;
}
.display{
    width: 98%;
    height: 35px;
    font-size: 25px;
    text-align: right;
}

.calculadora{
    width: 500px;
    height: 400px;
     padding: 10px;

}

.btn{
    width: 100%;
    height: 100%;
    font-size: 27px;
    border: none;
    cursor: pointer;
    background: #dfdfdf;
}

.btn:hover{
    background: #c4c4c4;
}

.btn-equal{
    background-color:  rgb(28, 225, 44);
}
.btn-equal:hover{
    background-color:rgb(75, 207, 73);
}

.btn-del{
    background-color: #f88989;
}
.btn-clear{
    background-color: rgb(202, 30, 30);
}